<!doctype html>
<html ng-app="MonApp">
  <head>
    <meta charset="utf-8" />
    <title>Hello Angular</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular-animate.min.js"></script>
    <script type="text/javascript">

    /* La je recréé l'app à chaque fois pour des raisons de praticité, mais
        dans un vrai code vous auriez ça dans un fichier à part, une seule
        fois */
    var app = angular.module('MonApp', [])

    // Création d'un controller, et attachement d'une variable au scope.
    app.controller('CommentsCtrl', function($scope){
        // Attachement d'une donnée au scope
        $scope.comments = [
              {
                "username": "Adams",
                "city": "Crisman",
                "email": "adamsroth@nixelt.com",
                "content": "collins Irure laborum dolore elit velit aute ipsum aliquip fugiat aliquip sint et deserunt reprehenderit. Laboris nostrud amet culpa minim. Commodo reprehenderit ipsum ex pariatur deserunt exercitation. Eiusmod ea eu tempor mollit duis nisi ea veniam id deserunt culpa anim voluptate aute. Mollit esse nisi tempor officia ea et dolore consequat sint aute ipsum sit cillum qui."
              },
              {
                "username": "Madeline",
                "city": "Waukeenah",
                "email": "madelineroth@nixelt.com",
                "content": "Esse aliqua deserunt cillum pariatur eu consectetur velit consequat minim id deserunt est cillum do. Nisi excepteur quis nulla non esse elit nulla officia reprehenderit non sunt eu proident. Dolore deserunt officia nulla ad laboris id commodo cillum laborum. Reprehenderit laboris nulla laborum voluptate. Officia occaecat reprehenderit enim veniam dolor exercitation dolor id qui."
              },
              {
                "username": "Figueroa",
                "city": "Onton",
                "email": "figueroaroth@nixelt.com",
                "content": "Aliqua dolore tempor Lorem non qui Lorem sunt cupidatat commodo nulla occaecat. Anim exercitation elit eiusmod veniam dolore exercitation voluptate aliqua aliquip quis. Magna sint aliqua Lorem irure mollit reprehenderit incididunt culpa occaecat nisi. Sit est nostrud tempor et ipsum. Dolor minim et nisi reprehenderit ullamco dolore."
              },
              {
                "username": "Janelle",
                "city": "Cawood",
                "email": "janelleroth@nixelt.com",
                "content": "Do cupidatat labore id esse laborum amet ex commodo consequat sit laborum elit irure. Eiusmod eiusmod duis qui dolore ea. Deserunt nostrud pariatur ullamco excepteur officia proident magna exercitation ex Lorem qui. Exercitation culpa reprehenderit proident fugiat exercitation sint qui aliqua dolore do velit minim sunt duis. Minim anim magna ex eiusmod ex culpa incididunt."
              },
              {
                "username": "Dunn",
                "city": "Odessa",
                "email": "dunnroth@nixelt.com",
                "content": "Aliquip do exercitation commodo officia deserunt adipisicing. Amet consectetur culpa sit exercitation nisi nisi irure aute non reprehenderit Lorem ad. Deserunt officia amet adipisicing pariatur nulla aliquip sunt voluptate occaecat sint. Do sunt quis nisi deserunt laborum occaecat aliquip occaecat sit amet. Qui dolor et ea exercitation reprehenderit culpa duis ad sit cupidatat occaecat sit eu eiusmod."
              }
            ]
    })

    </script>
  </head>
  <body ng-app >
    <!-- Affichage du message attaché au scope -->
    <h1>{{ hello }}</h1>
 <!--       <p>        <input type="text" ng-model="task">        {{task}}              </p>-->


        
<!--
        <div ng-init ="users=['toto','tutu','marc']">
            <ul>
                <li ng-repeat="user in users | filter:query"> {{user | uppercase}}</li>
            </ul>
                {{users | filter:'M'}}
        </div>
      -->  
      <input type="text" ng-model="query"/>
      <select ng-model="order">
          <option value="username">Organiser par nom !</option>
          <option value="content">Organiser par contenu...</option>
      </select>
      
      
        <div ng-controller="CommentsCtrl">
            <div ng-repeat="comment in comments | filter:{content:query} | orderBy:order"> 
               <p><strong>{{comment.username}}</strong></p>
               <p>{{comment.email}}</p>
            </div>
               
        </div>

  </body>
  
</html>
